# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
WebAPI/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
WebAPI/bin/Debug/net9.0/Microsoft.OpenApi.dll
WebAPI/bin/Debug/net9.0/WebAPI.dll
WebAPI/bin/Debug/net9.0/WebAPI.exe
WebAPI/bin/Debug/net9.0/WebAPI.pdb
WebAPI/obj/project.nuget.cache
WebAPI/obj/Debug/net9.0/apphost.exe
WebAPI/obj/Debug/net9.0/WebAPI.AssemblyInfoInputs.cache
WebAPI/obj/Debug/net9.0/WebAPI.assets.cache
WebAPI/obj/Debug/net9.0/WebAPI.csproj.AssemblyReference.cache
WebAPI/obj/Debug/net9.0/WebAPI.csproj.CoreCompileInputs.cache
WebAPI/obj/Debug/net9.0/WebAPI.dll
WebAPI/obj/Debug/net9.0/WebAPI.genruntimeconfig.cache
WebAPI/obj/Debug/net9.0/WebAPI.MvcApplicationPartsAssemblyInfo.cache
WebAPI/obj/Debug/net9.0/WebAPI.pdb
WebAPI/obj/Debug/net9.0/ref/WebAPI.dll
WebAPI/obj/Debug/net9.0/refint/WebAPI.dll
